<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <description>The relative path to product images</description>
        <param-name>productImagePath</param-name>
        <param-value>img/products/</param-value>
    </context-param>
    <context-param>
        <description>The relative path to category images</description>
        <param-name>categoryImagePath</param-name>
        <param-value>img/categories/</param-value>
    </context-param>
    <context-param>
        <description>The delivery surcharge applied to all orders</description>
        <param-name>deliverySurcharge</param-name>
        <param-value>3.00</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings | JSP configuration for the store front</description>
            <url-pattern>/contact.jsp</url-pattern>
            <url-pattern>/customerAccount.jsp</url-pattern>
            <url-pattern>/about.jsp</url-pattern>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/storefrontHeader.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/storefrontFooter.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer settings | JSP configuration for the Administration Console</description>
            <url-pattern>/admin/adminError.jsp</url-pattern>
            <url-pattern>/admin/adminIndex.jsp</url-pattern>
            <url-pattern>/admin/adminLogin.jsp</url-pattern>
            <url-pattern>/admin/addNewProduct.jsp</url-pattern>
            <url-pattern>/admin/addNewShipper.jsp</url-pattern>
            <url-pattern>/admin/addNewSupplier.jsp</url-pattern>
            <url-pattern>/admin/shipperManager.jsp</url-pattern>
            <url-pattern>/admin/supplierManager.jsp</url-pattern>
            <include-prelude>/admin/jspf/adminConsoleHeader.jspf</include-prelude>
            <include-coda>/admin/jspf/adminConsoleFooter.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer settings | JSP configuration for the Supplier's Console</description>
            <url-pattern>/supplier/supplierError.jsp</url-pattern>
            <url-pattern>/supplier/supplierIndex.jsp</url-pattern>
            <url-pattern>/supplier/supplierLogin.jsp</url-pattern>
            <include-prelude>/supplier/jspf/supplierConsoleHeader.jspf</include-prelude>
            <include-coda>/supplier/jspf/supplierConsoleFooter.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header and footer settings | JSP configuration for the Shipper's Console</description>
            <url-pattern>/shipper/shipperError.jsp</url-pattern>
            <url-pattern>/shipper/shipperIndex.jsp</url-pattern>
            <url-pattern>/shipper/shipperLogin.jsp</url-pattern>
            <include-prelude>/shipper/jspf/shipperConsoleHeader.jspf</include-prelude>
            <include-coda>/shipper/jspf/shipperConsoleFooter.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <!--<resource-ref>
        <description>Connects to database for Peripherals application</description>
        <res-ref-name>jdbc/peripherals</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>Commented out because of switch to EJB and JPA-->
    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>Peripherals Administration</web-resource-name>
            <description/>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>PeripheralsAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>file</realm-name>
        <form-login-config>
            <form-login-page>/admin/adminLogin.jsp</form-login-page>
            <form-error-page>/admin/adminError.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>PeripheralsAdmin</role-name>
    </security-role>
</web-app>
